extends base.pug
block style 
    style 
        include ../static/style.css
        include ../static/About.css
block content 
    div.about
        h2 About Us
        p The Digital Computer Academy has played a significant role in promoting Computer training in Purnea dist. We have taken initiatives & established prime methods for school students. Here the students are provided relevant Computer knowledge according to their age & Std. (From K.G. to Std 12th). These efforts have been laid by the institution since 2023.
        p We offer computer courses for various age groups ( seniors, teenagers, and children) which include comprehensive training from basic to advanced computer skills. Our goal is to teach you what you need to know, using patient, experienced and friendly instructors. Digital Computer Academyis an unaided professional institution, the training becomes more effective and useful for the students. Here we teach the concepts and tools which are used in IT Industry, which will help students to get job more easily.
        p Digital Computer Academy who being a guiding force behind the above achievements has been actively involved in higher-end IT training at its own premise. The Digital Computer Academy feels proud on contributing successful Software programmers & Web designers in IT Community. With our Experts and Qualified Faculties, one can learn the Tally and other Accounting Applications with an ease. The orgniestion  strives & desires to further fulfill the visions & values of Digital Computer Academyby contributing in recognition of IT sector to highest limit in BIHAR.