extends base.pug

block style 
    style
        include ../static/style.css
        include ../static/styleHome.css
block content 
    section.coursesOffered 
            
            div.courses
                div.DCA
                    a(href="/registrationForm")
                        img(src="../static/dca.png", alt="dca")
                    a(href="/registrationForm")
                        p Diploma In Computer Application 
                div.DCA
                    a(href="/registrationForm")
                        img(src="../static/adca.png", alt="dca")
                    a(href="/registrationForm")
                        p Advanced Diploma In Computer Application 
                div.DCA
                    a(href="/registrationForm")
                        img(src="../static/office.jpg", alt="dca")
                    a(href="/registrationForm")
                        p Certificate in MS-Office (Basic)
                div.DCA
                    a(href="/registrationForm")
                        img(src="../static/dtp.jpg", alt="dca")
                    a(href="/registrationForm")
                        p Desktop Publishing 
            div.coursesLine2
                div.DCA
                    a(href="/registrationForm")
                        img(src="../static/cProgrammingh.png", alt="dca")
                        p Programming in C
                div.DCA
                    a(href="/registrationForm")
                        img(src="../static/S-S-S-S-6_logo.jpg", alt="dca")
                        p Computer Basic Course
                div.DCA
                    a(href="/registrationForm")
                        img(src="../static/html.jpeg", alt="dca")
                        p Certificate in Basic of HTML
                div.DCA
                    a(href="/registrationForm")
                        img(src="../static/cPlusPlus.jpeg", alt="dca")
                    a(href="/registrationForm")
                        p Programming in C++    
    div.launchSoon
        h2 Note: 
        p More Courses will be launched soon
            
                            