<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/marquee.css">
</head>
<body>
    
</body>
</html>
<div class="marquee-container">
    <marquee behavior="scroll" direction="up" scrollamount="3">
      <ul>
        <li> <a href="/"> Currently there aren't any Notices</a></li>
        <li> <a href="/"> Currently there aren't any Notices</a></li>
        <li> <a href="/"> Currently there aren't any Notices</a></li>
        <li> <a href="/"> Currently there aren't any Notices</a></li>
        <li> <a href="/"> Currently there aren't any Notices</a></li>
        <li> <a href="/"> Currently there aren't any Notices</a></li>
        <li> <a href="/"> Currently there aren't any Notices</a></li>
      </ul>
    </marquee>
  </div>
  